<style>
  @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

  .heroBanner-container {
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    padding: 36px 112px 88px 112px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background: #404040;
  }

  .heroBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  .heroBanner-content-wrapper {
    display: flex;
    align-items: center;
    gap: 56px;
  }

  .heroBanner-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .white-heading {
    font-family: "Helvetica Neue";
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -1.68px;
    text-transform: uppercase;
    color: white;
  }

  .white-border-heading {
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.68px;
    text-transform: uppercase;
  }

  .bigger-font {
    font-size: 112px;
  }

  .heroBanner-content {
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .heroBanner-content-text-wrapper {
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 120%;
  }

  .heroBanner-content-button {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #FFF;
    color: #404040;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.48px;
  }

  .heroBanner-levels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }

  .heroBanner-level {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 15px;
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -1.08px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal.hidden {
    display: none;
  }

  .modal-content {
    background: white;
    width: 500px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 700px;
    height: 466px;
    flex-shrink: 0;
  }

  .close-button {
    font-size: 24px;
    cursor: pointer;
    float: right;
  }

  .modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
  }

  .modal-header {
    transform: rotate(-90deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 124px;
  }

  .modal-header .las-vegas {
    color: #D6D6D6;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    margin-right: 60px;
  }

  .modal-header .wolves {
    -webkit-text-stroke-width: 3;
    -webkit-text-stroke-color: #D6D6D6;
    color: #D6D6D6;
    font-family: "Helvetica Neue";
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    text-transform: uppercase;
    margin-left: 80px;
  }

  .modal-body-wolf-image {
    background-size: cover;
    background-position: center;
    width: 73px;
    height: 79px;
    flex-shrink: 0;
    margin-bottom: 10px;
  }

  .modal-body {
    height: 100%;
    padding: 56px 56px 56px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

.modal-body-pack-heading {
  color: #404040;
  font-family: "Helvetica Neue";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 48px */
  letter-spacing: -1.44px;
  text-align: justify;
}

.modal-body-pack-heading-v {
  color: #A4A4A4;
  font-family: "Helvetica Neue";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 48px */
  letter-spacing: -1.44px;
  text-align: justify;
}

  .modal-body-pack-text {
    color: #404040;
    font-feature-settings: 'liga'off, 'clig'off;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    margin-top: 8px;
  }

  .user-input-wrapper {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 32px;
  }

  .input-container {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }

  .email-input {
    width: 400px;
    border-radius: 4px;
    outline: none;
    border: none;
  }

  .line {
    width: 400px;
    height: 3px;
    background: #404040;
  }
</style>
<div clas="heroBanner-main">
  <div class="heroBanner-container">
    <div class="heroBanner">
      <div class="heroBanner-content-wrapper">
        <div class="heroBanner-heading">
          <sly data-sly-resource="${'left' @ resourceType='venia/components/text'}"></sly>
        </div>
        <div class="heroBanner-content">
          <div class="heroBanner-content-text-wrapper">
            <sly data-sly-resource="${'center' @ resourceType='venia/components/text'}"></sly>
          </div>
          <button class="heroBanner-content-button">${properties.text}<img src="/content/dam/venia/sites/start-icon.svg" alt="start Icon" />
          </button>
        </div>
      </div>
      <div class="heroBanner-levels">
        <div class="heroBanner-level" style="background-image: url('/content/dam/venia/sites/wolf-logo.png');">1</div>
        <div class="heroBanner-level" style="background-image: url('/content/dam/venia/sites/wolf-logo.png');">2</div>
        <div class="heroBanner-level" style="background-image: url('/content/dam/venia/sites/wolf-logo.png');">3</div>
      </div>
    </div>
  </div>
  <div id="gameModal" class="modal hidden">
    <div class="modal-content">
      <span class="close-button">&times; </span>
      <div class="modal-wrapper">
        <div class="modal-header">
          <sly data-sly-resource="${'popupleft' @ resourceType='venia/components/text'}"></sly>
        </div>
        <div class="modal-body">
          <div class="modal-body-wolf-image" style="background-image: url('/content/dam/venia/sites/wolf.png');"></div>
          <sly data-sly-resource="${'popupcenter' @ resourceType='venia/components/text'}"></sly>
          <div class="user-input-wrapper">
            <div class="input-container">
              <input type="email" placeholder="Your Email Address" class="email-input" />
              <img src="/content/dam/venia/sites/arrow.svg" alt="arrow" class="arrow-icon" />
            </div>
            <hr class="line" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const modal = document.getElementById("gameModal");
  const openButton = document.querySelector(".heroBanner-content-button");
  const closeButton = document.querySelector(".close-button");
  openButton.addEventListener("click", () => {
    modal.classList.remove("hidden");
  });
  closeButton.addEventListener("click", () => {
    modal.classList.add("hidden");
  });
  window.addEventListener("click", (event) => {
    if (event.target === modal) {
      modal.classList.add("hidden");
    }
  });
</script>