<div class="heroBanner-container">
    <div class="heroBanner">
      <div class="heroBanner-content-wrapper">
        <div class="heroBanner-heading">
          <div data-sly-resource="${'left' @ resourceType='venia/components/text'}"></div>
        </div>
        <div class="heroBanner-content">
          <div class="heroBanner-content-text-wrapper">
            <div data-sly-resource="${'center' @ resourceType='venia/components/text'}"></div>
          </div>
          <div data-sly-resource="${'button' @ resourceType='venia/components/button'}"></div>
        </div>
      </div>
      <div class="heroBanner-levels">
        <div class="heroBanner-level">
          <div data-sly-resource="${'multifield' @ resourceType='venia/components/multifield'}"></div>
        </div>
      </div>
    </div>
  </div>