<div class="heroBanner-main">
  <div class="heroBanner-container" style="background-image: url(/content/dam/venia/sites/clp/banner.png);">
    <div class="heroBanner">
      <div class="heroBanner-content-wrapper">
        <div class="heroBanner-heading">
            <div class="heroBanner-heading-fillText white-border-heading bigger-font">The wolves</div>
            <div class="heroBanner-heading-dashedText white-heading">come out at night</div>
            <div class="heroBanner-heading-dashedText white-sub-heading">show your loyalty to the pack and win tickets</div>
        </div>
        <div class="heroBanner-content">
          <div class="heroBanner-content-text-wrapper">
           <div class="heroBanner-content-text">
            Use the clues to name three players as fast as you can. Best time wins free tickets for you and three friends to the next game!
           </div>
          </div>
          <button class="heroBanner-content-button">${properties.text}<img src="/content/dam/venia/sites/clp/stopwatch-icon.svg" alt="start Icon" />
          </button>
        </div>
      </div>
      <div class="heroBanner-levels">
        <div class="heroBanner-level">
          <div class="heroBanner-level-image" style="background-image: url('/content/dam/venia/sites/clp/bg-logo.png');"></div>
          <div class="heroBanner-level-text">1</div>
        </div>
        <div class="heroBanner-level">
          <div class="heroBanner-level-image" style="background-image: url('/content/dam/venia/sites/clp/bg-logo.png');"></div>
          <div class="heroBanner-level-text">2</div>
        </div>
        <div class="heroBanner-level">
          <div class="heroBanner-level-image" style="background-image: url('/content/dam/venia/sites/clp/bg-logo.png');"></div>
          <div class="heroBanner-level-text">3</div>
        </div>
      </div>
    </div>
  </div>
  <div id="gameModal" class="modal hidden">
    <div class="modal-content" style="background-image: url('/content/dam/venia/sites/clp/popup.png');">
      <span class="close-button">&times; </span>
      <div class="modal-wrapper">
        <div class="modal-body">
          <div class="modal-body-wolf-image" style="background-image: url('/content/dam/venia/sites/clp/bg-logo.png');"></div>
          <p class="modal-body-pack-heading">THIS PACK NEEDS</p>
          <p class="wolves">ALPHA WOLVES</p>
          <p class="modal-body-pack-text">Be among the first 777 fans to join the pack and secure priority access to inaugural season opener tickets, plus 10% discount on Wolves merch.</p>
          <div class="user-input-wrapper">
            <div class="input-container">
              <input type="email" placeholder="Your Email Address" class="email-input" />
              <span class="arrow-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none">
                  <path d="M1 8H15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M10 1L17 8L10 15" stroke="white" stroke-width="2" stroke-linecap="round"/>
                  </svg>
              </span>
            </div>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const modal = document.getElementById("gameModal");
  const closeButton = document.querySelector(".close-button");
  let isPopupShown = false;
  window.setTimeout(() => {
    if(!isPopupShown){
      modal.classList.remove("hidden");
    }
  }, 10000);
  closeButton.addEventListener("click", () => {
    modal.classList.add("hidden");
    isPopupShown = true;
  });
  window.addEventListener("click", (event) => {
    if (event.target === modal) {
      modal.classList.add("hidden");
      isPopupShown = true;
    }
  });
</script>