<div style="width: 100%; height: 100%; padding-left: 422px; padding-right: 422px; padding-top: 48px; padding-bottom: 48px; background: #F8F8F8; flex-direction: column; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
    <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
        <div style="height: 48px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
            <div style="align-self: stretch; justify-content: center; align-items: center; gap: 30px; display: inline-flex">
                <div style="width: 30px; height: 0px; border: 2px black solid"></div>
                <div style="text-align: center; color: #404040; font-size: 48px; font-family: Helvetica Neue; font-weight: 700; text-transform: uppercase; line-height: 48px; word-wrap: break-word">UPCOMING GAMES</div>
                <div style="width: 30px; height: 0px; border: 2px black solid"></div>
            </div>
        </div>
        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 48px; display: inline-flex">
            <div style="align-self: stretch; justify-content: center; align-items: flex-start; gap: 24px; display: flex">
                <div style="width: 240px; padding-left: 36px; padding-right: 36px; padding-top: 24px; padding-bottom: 24px; background: white; border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                    <div style="align-self: stretch; height: 210px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="align-self: stretch; height: 58px; flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
                            <div style="align-self: stretch; text-align: center; color: #404040; font-size: 36px; font-family: Helvetica Neue; font-weight: 900; text-transform: uppercase; line-height: 36px; word-wrap: break-word">MON</div>
                            <div style="align-self: stretch; text-align: center; color: #404040; font-size: 20px; font-family: Helvetica Neue; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">DEC 3</div>
                        </div>
                        <div style="align-self: stretch; text-align: center; color: black; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; text-transform: uppercase; line-height: 16px; word-wrap: break-word">VS</div>
                        <div style="width: 72px; height: 72px; background: #D9D9D9; border-radius: 9999px"></div>
                        <div style="align-self: stretch; height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                            <div style="align-self: stretch; text-align: center; color: black; font-size: 20px; font-family: Helvetica Neue; font-weight: 700; line-height: 20px; word-wrap: break-word">Salt Lake City</div>
                            <div style="align-self: stretch; text-align: center; color: black; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; line-height: 16px; word-wrap: break-word">7p PST</div>
                        </div>
                    </div>
                    <div style="align-self: stretch; height: 40px; padding: 12px; background: #D9D9D9; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                        <div style="text-align: center; color: black; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; line-height: 16px; word-wrap: break-word">Buy Tickets</div>
                    </div>
                </div>
                <div style="width: 240px; padding-left: 36px; padding-right: 36px; padding-top: 24px; padding-bottom: 24px; background: white; border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                    <div style="align-self: stretch; height: 210px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="align-self: stretch; height: 58px; flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
                            <div style="align-self: stretch; text-align: center; color: #404040; font-size: 36px; font-family: Helvetica Neue; font-weight: 900; text-transform: uppercase; line-height: 36px; word-wrap: break-word">WED</div>
                            <div style="align-self: stretch; text-align: center; color: #404040; font-size: 20px; font-family: Helvetica Neue; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">DEC 5</div>
                        </div>
                        <div style="align-self: stretch; text-align: center; color: black; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; text-transform: uppercase; line-height: 16px; word-wrap: break-word">VS</div>
                        <div style="width: 72px; height: 72px; background: #D9D9D9; border-radius: 9999px"></div>
                        <div style="align-self: stretch; height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                            <div style="align-self: stretch; text-align: center; color: black; font-size: 20px; font-family: Helvetica Neue; font-weight: 700; line-height: 20px; word-wrap: break-word">Salt Lake City</div>
                            <div style="align-self: stretch; text-align: center; color: black; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; line-height: 16px; word-wrap: break-word">7p PST</div>
                        </div>
                    </div>
                    <div style="align-self: stretch; height: 40px; padding: 12px; background: #D9D9D9; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                        <div style="text-align: center; color: black; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; line-height: 16px; word-wrap: break-word">Buy Tickets</div>
                    </div>
                </div>
                <div style="width: 240px; padding-left: 36px; padding-right: 36px; padding-top: 24px; padding-bottom: 24px; background: white; border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                    <div style="align-self: stretch; height: 210px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="align-self: stretch; height: 58px; flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
                            <div style="align-self: stretch; text-align: center; color: #404040; font-size: 36px; font-family: Helvetica Neue; font-weight: 900; text-transform: uppercase; line-height: 36px; word-wrap: break-word">FRI</div>
                            <div style="align-self: stretch; text-align: center; color: #404040; font-size: 20px; font-family: Helvetica Neue; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">DEC 7</div>
                        </div>
                        <div style="align-self: stretch; text-align: center; color: black; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; text-transform: uppercase; line-height: 16px; word-wrap: break-word">VS</div>
                        <div style="width: 72px; height: 72px; background: #D9D9D9; border-radius: 9999px"></div>
                        <div style="align-self: stretch; height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                            <div style="align-self: stretch; text-align: center; color: black; font-size: 20px; font-family: Helvetica Neue; font-weight: 700; line-height: 20px; word-wrap: break-word">Salt Lake City</div>
                            <div style="align-self: stretch; text-align: center; color: black; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; line-height: 16px; word-wrap: break-word">7p PST</div>
                        </div>
                    </div>
                    <div style="align-self: stretch; height: 40px; padding: 12px; background: #D9D9D9; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                        <div style="text-align: center; color: black; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; line-height: 16px; word-wrap: break-word">Buy Tickets</div>
                    </div>
                </div>
                <div style="width: 240px; padding-left: 36px; padding-right: 36px; padding-top: 24px; padding-bottom: 24px; background: white; border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                    <div style="align-self: stretch; height: 210px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="align-self: stretch; height: 58px; flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
                            <div style="align-self: stretch; text-align: center; color: #404040; font-size: 36px; font-family: Helvetica Neue; font-weight: 900; text-transform: uppercase; line-height: 36px; word-wrap: break-word">SUN</div>
                            <div style="align-self: stretch; text-align: center; color: #404040; font-size: 20px; font-family: Helvetica Neue; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">DEC 9</div>
                        </div>
                        <div style="align-self: stretch; text-align: center; color: black; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; text-transform: uppercase; line-height: 16px; word-wrap: break-word">VS</div>
                        <div style="width: 72px; height: 72px; background: #D9D9D9; border-radius: 9999px"></div>
                        <div style="align-self: stretch; height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                            <div style="align-self: stretch; text-align: center; color: black; font-size: 20px; font-family: Helvetica Neue; font-weight: 700; line-height: 20px; word-wrap: break-word">Salt Lake City</div>
                            <div style="align-self: stretch; text-align: center; color: black; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; line-height: 16px; word-wrap: break-word">7p PST</div>
                        </div>
                    </div>
                    <div style="align-self: stretch; height: 40px; padding: 12px; background: #D9D9D9; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                        <div style="text-align: center; color: black; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; line-height: 16px; word-wrap: break-word">Buy Tickets</div>
                    </div>
                </div>
                <div style="width: 240px; padding-left: 36px; padding-right: 36px; padding-top: 24px; padding-bottom: 24px; background: white; border-radius: 16px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                    <div style="align-self: stretch; height: 210px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="align-self: stretch; height: 58px; flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
                            <div style="align-self: stretch; text-align: center; color: #404040; font-size: 36px; font-family: Helvetica Neue; font-weight: 900; text-transform: uppercase; line-height: 36px; word-wrap: break-word">WED</div>
                            <div style="align-self: stretch; text-align: center; color: #404040; font-size: 20px; font-family: Helvetica Neue; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">DEC 12</div>
                        </div>
                        <div style="align-self: stretch; text-align: center; color: black; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; text-transform: uppercase; line-height: 16px; word-wrap: break-word">VS</div>
                        <div style="width: 72px; height: 72px; background: #D9D9D9; border-radius: 9999px"></div>
                        <div style="align-self: stretch; height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                            <div style="align-self: stretch; text-align: center; color: black; font-size: 20px; font-family: Helvetica Neue; font-weight: 700; line-height: 20px; word-wrap: break-word">Salt Lake City</div>
                            <div style="align-self: stretch; text-align: center; color: black; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; line-height: 16px; word-wrap: break-word">7p PST</div>
                        </div>
                    </div>
                    <div style="align-self: stretch; height: 40px; padding: 12px; background: #D9D9D9; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                        <div style="text-align: center; color: black; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; line-height: 16px; word-wrap: break-word">Buy Tickets</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-left: 24px; padding-right: 24px; padding-top: 20px; padding-bottom: 20px; background: #404040; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="text-align: center; color: white; font-size: 16px; font-family: Helvetica Neue; font-weight: 400; line-height: 16px; word-wrap: break-word">Full Schedule</div>
        </div>
    </div>
</div>