<div class="headernavigation__wrapper">
    <div class="headernavigation__left">
        <div class="multifield-wrapper">
            <div class="multifield-wrapper__image">
                <a href="#" target="_self">
                    <img src="/content/dam/venia/sites/logo.png" alt="logo">
                </a>
            </div>
            <div class="multifield-wrapper__text">
                <a href="#" target="_self">TEAM</a>
                <a href="#" target="_self">SCHEDULE &amp; TICKETS</a>
                <a href="#" target="_self">MERCH</a>
                <a href="#" target="_self">WIN FREE TICKETS</a>
            </div>
        </div>
    </div>
    <div class="headernavigation__right">
        <p class="search">Search <span><img src="/content/dam/venia/sites/logo.png" alt="search"></span></p>
        <p class="add-to-bag">Add to bag <span><img src="/content/dam/venia/sites/logo.png" alt="cart"></span></p>
    </div>
</div>