<div class="header-navigation-wrapper">
    <div class="header-navigation-left">
        <div class="multifield-wrapper">
            <div class="multifield-image">
                <a href="#" target="_self">
                    <img src="/content/dam/venia/sites/logo.png">
                </a>
            </div>
            <div class="multifield-text">
                <a href="#" target="_self">TEAM</a>
                <a href="#" target="_self">SCHEDULE &amp; TICKETS</a>
                <a href="#" target="_self">MERCH</a>
                <a href="#" target="_self">WIN FREE TICKETS</a>
            </div>
        </div>
    </div>
    <div class="header-navigation-right">
        <p class="search">Search <span> <img src="/content/dam/venia/sites/logo.png">
            </span></p>
        <p class="add-to-bag">Add to bag <span><img src="/content/dam/venia/sites/logo.png"></span></p>
    </div>
</div>