
<div class="merch-showcase-wrapper">
  <div class="merch-showcase">
    <div class="merch-showcase-heading">
      <sly data-sly-resource="${'left' @ resourceType='venia/components/text'}"></sly>
      <button>Join The Pack</button>
    </div>
    <!-- <div class="merch-showcase-details">
      <sly data-sly-resource="${'right-title' @ resourceType='venia/components/text'}"></sly>
      <sly data-sly-resource="${'rigth-desc' @ resourceType='venia/components/text'}"></sly>
      <button>Join The Pack</button>
    </div> -->
    <div class="merch-showcase-products">
      <div class="product-card">
        <div class="product-card-image">
          <img src="/content/dam/venia/sites/plp_img/banner_hoodie12.png" alt="merch1">
        </div>
      </div>
      <div class="product-card">
        <div class="product-card-image">
          <img src="/content/dam/venia/sites/plp_img/banner_jersey.png" alt="merch1">
        </div>
      </div>
    </div>
    
  </div>
</div>
<script src="" async defer></script>