<style>
    .cards-container {
      display: grid;
      grid-row-gap: 20px;
    }

    .cards,
    .cards-xl {
      min-width: 400px;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 15px;
      height: -webkit-fill-available;
      position: relative;
      justify-content: space-between;
    }

    .cards-xl {
      width: 100%;
      max-width: 100%;
    }

    .w-65 {
      width: 65%;
    }

    .column {
      display: grid;
      grid-row-gap: 20px;
    }

    .cards-xl-height {
      height: inherit;
      justify-content: space-between;
    }

    .cards-block {
      display: grid;
      gap: 20px;
    }

    .cards-block.bg-cover img {
      width: 100%;
      height: -webkit-fill-available;
    }

    .bg-cover .cards {
      padding: 0px;
      width: 100%;
      height: inherit;
    }

    .cards-header-block {
      display: flex;
    }

    .cards-title-block {
      position: absolute;
      width: 100px;
      height: inherit;
      left: 20px;
    }

    .cards-title-block h1 {
      position: absolute;
      transform: rotate(270deg);
      font-size: 50px;
      font-weight: 800;
      top: 82px;
      left: -55px;
      border: solid 2px;
      font-family: 'Helvetica Neue';
      text-wrap-mode: nowrap;
      padding: 10px;

    }

    .cards-title-overlay-block {
      width: 25%;
      background: rgba(250, 250, 250, .5);
      padding: 15px;
      height: fit-content;
    }

    .cards-image-block {
      display: flex;
    }

    .cards-image-block img {
      width: 100%;
      transform: scale(1);
      transition: 0.3s ease-in-out;
    }

    .cards-image-block:hover img {
      transform: scale(1.2);
    }

    .cards-custom-btn span {
      padding: 5px 12px;
      border-radius: 15px;
    }

    .cards-content-block {
      width: 400px;
    }

    .cards-text-block {
      display: flex;
      justify-content: space-between;
    }

    .cards-text {
      margin-top: 0px;
      width: 130px;
    }

    .cards-carousel-btn{
      display: flex;
      align-items: center;
    }

    .cards-carousel-btn img {
      height: 30px !important;
      width: 30px !important;
      margin-left: 6px;
    }

    .cards-buynow-btn button {
      padding: 10px;
      border-style: none;
      text-transform: capitalize;
    }

    .bg-light-gray {
      background: #EBEBEB;
    }

    .bg-gray {
      background-color: #B1B1B1;
    }

    .bg-gray-lineargradient {
      background: linear-gradient(to right, #B1B1B1 0%, #404040 100%);
    }

    .bg-gray {
      background-color: #C4C4C4;
    }

    .bg-dark-gray {
      background-color: #404040;
    }

    .bg-grey {
      background-color: #6B6B6B;
    }

    .bg-white {
      background-color: #fff;
    }

    .text-white {
      color: #fff;
    }

    .text-grey {
      color: #404040;
    }

    .n-mt-30 {
      margin-top: -30px;
    }

    .mt-15 {
      margin-top: 15px;
    }

    .mt-30 {
      margin-top: 30px;
    }

    button:active {
      border-style: none;
      text-transform: capitalize;
    }

    button:hover {
      background-color: #D8D8D8;
      color: #333333;
    }

    .grid-2cl-30-60 {
      grid-template-columns: 32% 65.5%;
    }

    .grid-2cl-60-30 {
      grid-template-columns: 65.5% 32%;
    }

    .grid-3-cl {
      grid-template-columns: 32% 32% 32%;
    }

    .row {
      display: grid;
      grid-column-gap: 20px;
    }

    .grid-2cl {
      grid-template-columns: 49% 49%;
    }

    .twowordtext {
      left: -122px !important;
      top: 165px !important;
    }

    .threewordtext {
      left: -191px !important;
      top: 252px !important;
    }

    .cards-header-block div:nth-of-type(2) {
      margin-left: 100px;
      margin-right: 20px;
    }

    .row-reverse .cards-header-block {
      flex-direction: row-reverse;
    }

    .row-reverse .cards-image-block {
      margin-left: 100px;
    }

    .row-reverse .cards-content-block {
      align-self: end;
    }

    .content-center {
      justify-content: center;
    }

    .no-width {
      width: unset !important;
    }
</style>
<div class="cards-container" style="margin-top: 30px;">
    <div class="cards-block grid-2cl-30-60">
        <div class="cards bg-light-gray">
            <div class="cards-header-block">
                <div class="cards-title-block">
                    <h1 class="text-grey">HOODIE</h1>
                </div>
                <div class="cards-image-block">
                    <img class="n-mt-30" src="/content/dam/venia/sites/hoodie.png" />
                </div>
            </div>
            <div class="cards-content-block mt-15">
                <div class="cards-carousel-btn">
                    <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-prev-black.png" />
                    <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-nxt-black.png" />
                </div>
                <div class="cards-custom-btn mt-15">
                    <span class="bg-gray">Customizable </span>
                </div>
                <div class="cards-text-block mt-15">
                    <div class="cards-text"> Inaugural Season Wolves Hoodie </div>
                    <div class="cards-buynow-btn">
                        <button type="button" onclick="location.href='https://publish-p127270-e1239469.adobeaemcloud.com/content/venia/language-masters/en/home/product-detail-page.html?rdesw=432'" class="bg-dark-gray text-white">Buy Now | $89 </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cards-xl bg-gray">
            <div class="cards-header-block">
                <div class="cards-title-block">
                    <h1 class="text-white">JERSEY</h1>
                </div>
                <div class="cards-title-overlay-block">
                    <p>There’s no better way to show your team pride that by wearing the team kit!</p>
                    <p>Customize with your own name or a player name, home or away colors, and logo placement.</p>
                </div>
                <div class="cards-image-block">
                    <img class="mt-30" src="/content/dam/venia/sites/jersey3.png" />
                    <img class="mt-30" src="/content/dam/venia/sites/jersey4.png" />
                </div>
            </div>
            <div class="cards-content-block mt-15">
                <div class="cards-carousel-btn">
                    <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-prev-white.svg" />
                    <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-nxt-white.svg" />
                </div>
                <div class="cards-custom-btn mt-15">
                    <span class="bg-white">Customizable </span>
                </div>
                <div class="cards-text-block mt-15">
                    <div class="cards-text"> Inaugural Season Wolves Hoodie </div>
                    <div class="cards-buynow-btn">
                        <button type="button" class="bg-dark-gray text-white">Buy Now | $89 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards-block bg-cover grid-3-cl">
        <div class="cards ">
            <img class="" src="/content/dam/venia/sites/girl-in-hoodie.png" />
        </div>
        <div class="cards ">
            <img class="" src="/content/dam/venia/sites/image-1.png" />
        </div>
        <div class="cards ">
            <img class="" src="/content/dam/venia/sites/image-5.png" />
        </div>
    </div>
    <div class="cards-block grid-2cl-60-30">
        <div class="column">
            <div class="row">
                <div class="cards-xl bg-gray-lineargradient row-reverse">
                    <div class="cards-header-block">
                        <div class="cards-title-block">
                            <h1 class="twowordtext">LIMITED DROP</h1>
                        </div>
                        <div class="cards-title-overlay-block">
                            <p>There’s no better way to show your team pride that by wearing the team kit!</p>
                            <p>Customize with your own name or a player name, home or away colors, and logo placement.</p>
                        </div>
                        <div class="cards-image-block">
                            <img class="n-mt-30" src="/content/dam/venia/sites/sneakers.png" />
                        </div>
                    </div>
                    <div class="cards-content-block mt-15">
                        <div class="cards-text-block mt-15">
                            <div class="cards-text text-white"> Limited Edition DiVERGE Custom Sneakers </div>
                            <div class="cards-buynow-btn">
                                <button type="button" class="bg-white">Buy Now | $89 </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row grid-2cl">
                <div class="cards bg-grey">
                    <div class="cards-header-block">
                        <div class="cards-title-block">
                            <h1 class="twowordtext text-white">TRUCKER HAT</h1>
                        </div>
                        <div class="cards-image-block">
                            <img class="mt-30" src="/content/dam/venia/sites/hat 1.png" />
                        </div>
                    </div>
                    <div class="cards-content-block mt-30">
                        <div class="cards-carousel-btn">
                            <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-prev-white.svg" />
                            <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-nxt-white.svg" />
                        </div>
                        <div class="cards-text-block mt-15">
                            <div class="cards-text text-white"> Inaugural Season Wolves Hoodie </div>
                            <div class="cards-buynow-btn">
                                <button type="button" class="bg-white">Buy Now | $89 </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards bg-light-gray">
                    <div class="cards-header-block">
                        <div class="cards-title-block">
                            <h1 class="twowordtext">BASKET BALL</h1>
                        </div>
                        <div class="cards-image-block">
                            <img class="mt-30" src="/content/dam/venia/sites/basketball.png" />
                        </div>
                    </div>
                    <div class="cards-content-block mt-30">
                        <div class="cards-text-block mt-30">
                            <div class="cards-text mt-30"> Inaugural Season Wolves Hoodie </div>
                            <div class="cards-buynow-btn mt-30">
                                <button type="button" class="bg-dark-gray text-white">Buy Now | $89 </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="cards cards-xl-height bg-grey">
                <div class="cards-header-block">
                    <div class="cards-title-block">
                        <h1 class="threewordtext text-white">MOBILE PHONE CASE</h1>
                    </div>
                    <div class="cards-image-block">
                        <img class="" src="/content/dam/venia/sites/iphone-case 1.png" />
                    </div>
                </div>
                <div class="cards-content-block mt-15">
                    <div class="cards-carousel-btn">
                        <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-prev-white.svg" />
                        <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-nxt-white.svg" />
                    </div>
                    <div class="cards-custom-btn mt-15">
                        <span class="bg-gray">Customizable </span>
                    </div>
                    <div class="cards-text-block mt-15">
                        <div class="cards-text text-white"> Inaugural Season Wolves Hoodie </div>
                        <div class="cards-buynow-btn">
                            <button type="button" class="bg-white">Buy Now | $89 </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards-block bg-cover grid-2cl-30-60">
        <div class="cards ">
            <img class="" src="/content/dam/venia/sites/image-(1).png" />
        </div>
        <div class="cards-xl bg-gray-lineargradient row-reverse">
            <div class="cards-header-block">
                <div class="cards-title-block">
                    <h1 class="text-grey" style="top:136px;left:-98px">WOLF MASK</h1>
                </div>
                <div class="cards-title-overlay-block">
                    <p>There’s no better way to show your team pride that by wearing the team kit!</p>
                    <p>Customize with your own name or a player name, home or away colors, and logo placement.</p>
                </div>
                <div class="cards-image-block">
                    <img class="mt-30" src="/content/dam/venia/sites/wolf-mask 1.png" />
                </div>
            </div>
            <div class="cards-content-block mt-15">
                <div class="cards-text-block mt-15">
                    <div class="cards-text text-white"> Inaugural Season Wolves Hoodie </div>
                    <div class="cards-buynow-btn">
                        <button type="button" class="bg-dark-gray text-white">Buy Now | $89 </button>
                    </div>
                </div>
                <div class="cards-text-block mt-15">
                    <div class="cards-text text-white"> Inaugural Season Wolves Hoodie </div>
                    <div class="cards-buynow-btn">
                        <button type="button" class="bg-white">Buy Now | $89 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards-block bg-cover grid-2cl">
        <div class="cards-xl bg-light-gray">
            <div class="cards-header-block content-center">
                <div class="cards-title-block">
                    <h1 class="text-white" style="left:-102px;top:116px">MEN’S TEE</h1>
                </div>
                <div class="cards-image-block">
                    <img class="mt-30" src="/content/dam/venia/sites/tee-mens1.png" />
                </div>
            </div>
            <div class="cards-content-block mt-15 no-width">
                <div class="cards-text-block mt-15">
                    <div class="cards-carousel-btn mt-30">
                        <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-prev-black.png" />
                        <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-nxt-black.png" />
                    </div>
                    <div class="cards-text mt-30"> Inaugural Season Wolves Hoodie </div>
                    <div class="cards-buynow-btn mt-30">
                        <button type="button" class="bg-white">Buy Now | $89 </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cards-xl bg-gray">
            <div class="cards-header-block content-center">
                <div class="cards-title-block">
                    <h1 class="text-white twowordtext">WOMEN’S TEE</h1>
                </div>
                <div class="cards-image-block">
                    <img class="mt-30" src="/content/dam/venia/sites/tee-womens1.png" />
                </div>
            </div>
            <div class="cards-content-block mt-30 no-width">
                <div class="cards-text-block mt-30">
                    <div class="cards-carousel-btn mt-30">
                        <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-prev-white.svg" />
                        <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-nxt-white.svg" />
                    </div>
                    <div class="cards-text mt-30"> Inaugural Season Wolves Hoodie </div>
                    <div class="cards-buynow-btn mt-30">
                        <button type="button" class="bg-dark-gray text-white">Buy Now | $89 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>