<div class="plp-wrapper">
  <div class="cards-container" style="margin-top: 30px;">
    <div class="cards-block grid-2cl-30-60">
      <div class="cards bg-light-gray">
        <div class="cards-header-block">
          <div class="cards-title-block">
            <h1 class="text-grey">HOODIE</h1>
          </div>
          <div class="cards-image-block">
            <img class="n-mt-30" src="/content/dam/venia/sites/hoodie.png" />
          </div>
        </div>
        <div class="cards-content-block mt-15">
          <div class="cards-carousel-btn">
            <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-prev-black.png" />
            <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-nxt-black.png" />
          </div>
          <div class="cards-custom-btn mt-15">
            <span class="bg-gray">Customizable </span>
          </div>
          <div class="cards-text-block mt-15">
            <div class="cards-text"> Inaugural Season Wolves Hoodie </div>
            <div class="cards-buynow-btn">
              <button type="button"
                onclick="location.href='https://publish-p127270-e1239469.adobeaemcloud.com/content/venia/language-masters/en/home/product-detail-page.html?rdesw=432'"
                class="bg-dark-gray text-white">Buy Now | $89 </button>
            </div>
          </div>
        </div>
      </div>
      <div class="cards-xl bg-gray">
        <div class="cards-header-block">
          <div class="cards-title-block">
            <h1 class="text-white">JERSEY</h1>
          </div>
          <div class="cards-title-overlay-block">
            <p>There’s no better way to show your team pride that by wearing the team kit!</p>
            <p>Customize with your own name or a player name, home or away colors, and logo placement.</p>
          </div>
          <div class="cards-image-block">
            <img class="mt-30" src="/content/dam/venia/sites/jersey3.png" />
            <img class="mt-30" src="/content/dam/venia/sites/jersey4.png" />
          </div>
        </div>
        <div class="cards-content-block mt-15">
          <div class="cards-carousel-btn">
            <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-prev-white.svg" />
            <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-nxt-white.svg" />
          </div>
          <div class="cards-custom-btn mt-15">
            <span class="bg-white">Customizable </span>
          </div>
          <div class="cards-text-block mt-15">
            <div class="cards-text"> Inaugural Season Wolves Hoodie </div>
            <div class="cards-buynow-btn">
              <button type="button" class="bg-dark-gray text-white">Buy Now | $89 </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-block bg-cover grid-3-cl">
      <div class="cards ">
        <img class="" src="/content/dam/venia/sites/girl-in-hoodie.png" />
      </div>
      <div class="cards ">
        <img class="" src="/content/dam/venia/sites/image-1.png" />
      </div>
      <div class="cards ">
        <img class="" src="/content/dam/venia/sites/image-5.png" />
      </div>
    </div>
    <div class="cards-block grid-2cl-60-30">
      <div class="column">
        <div class="row">
          <div class="cards-xl bg-gray-lineargradient row-reverse">
            <div class="cards-header-block">
              <div class="cards-title-block">
                <h1 class="twowordtext">LIMITED DROP</h1>
              </div>
              <div class="cards-title-overlay-block">
                <p>There’s no better way to show your team pride that by wearing the team kit!</p>
                <p>Customize with your own name or a player name, home or away colors, and logo placement.</p>
              </div>
              <div class="cards-image-block">
                <img class="n-mt-30" src="/content/dam/venia/sites/sneakers.png" />
              </div>
            </div>
            <div class="cards-content-block mt-15">
              <div class="cards-text-block mt-15">
                <div class="cards-text text-white"> Limited Edition DiVERGE Custom Sneakers </div>
                <div class="cards-buynow-btn">
                  <button type="button" class="bg-white">Buy Now | $89 </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row grid-2cl">
          <div class="cards bg-grey">
            <div class="cards-header-block">
              <div class="cards-title-block">
                <h1 class="twowordtext text-white">TRUCKER HAT</h1>
              </div>
              <div class="cards-image-block">
                <img class="mt-30" src="/content/dam/venia/sites/hat 1.png" />
              </div>
            </div>
            <div class="cards-content-block mt-30">
              <div class="cards-carousel-btn">
                <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-prev-white.svg" />
                <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-nxt-white.svg" />
              </div>
              <div class="cards-text-block mt-15">
                <div class="cards-text text-white"> Inaugural Season Wolves Hoodie </div>
                <div class="cards-buynow-btn">
                  <button type="button" class="bg-white">Buy Now | $89 </button>
                </div>
              </div>
            </div>
          </div>
          <div class="cards bg-light-gray">
            <div class="cards-header-block">
              <div class="cards-title-block">
                <h1 class="twowordtext">BASKET BALL</h1>
              </div>
              <div class="cards-image-block">
                <img class="mt-30" src="/content/dam/venia/sites/basketball.png" />
              </div>
            </div>
            <div class="cards-content-block mt-30">
              <div class="cards-text-block mt-30">
                <div class="cards-text mt-30"> Inaugural Season Wolves Hoodie </div>
                <div class="cards-buynow-btn mt-30">
                  <button type="button" class="bg-dark-gray text-white">Buy Now | $89 </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="cards cards-xl-height bg-grey">
          <div class="cards-header-block">
            <div class="cards-title-block">
              <h1 class="threewordtext text-white">MOBILE PHONE CASE</h1>
            </div>
            <div class="cards-image-block">
              <img class="" src="/content/dam/venia/sites/iphone-case 1.png" />
            </div>
          </div>
          <div class="cards-content-block mt-15">
            <div class="cards-carousel-btn">
              <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-prev-white.svg" />
              <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-nxt-white.svg" />
            </div>
            <div class="cards-custom-btn mt-15">
              <span class="bg-gray">Customizable </span>
            </div>
            <div class="cards-text-block mt-15">
              <div class="cards-text text-white"> Inaugural Season Wolves Hoodie </div>
              <div class="cards-buynow-btn">
                <button type="button" class="bg-white">Buy Now | $89 </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-block bg-cover grid-2cl-30-60">
      <div class="cards ">
        <img class="" src="/content/dam/venia/sites/image-(1).png" />
      </div>
      <div class="cards-xl bg-gray-lineargradient row-reverse">
        <div class="cards-header-block">
          <div class="cards-title-block">
            <h1 class="text-grey" style="top:136px;left:-98px">WOLF MASK</h1>
          </div>
          <div class="cards-title-overlay-block">
            <p>There’s no better way to show your team pride that by wearing the team kit!</p>
            <p>Customize with your own name or a player name, home or away colors, and logo placement.</p>
          </div>
          <div class="cards-image-block">
            <img class="mt-30" src="/content/dam/venia/sites/wolf-mask 1.png" />
          </div>
        </div>
        <div class="cards-content-block mt-15">
          <div class="cards-text-block mt-15">
            <div class="cards-text text-white"> Inaugural Season Wolves Hoodie </div>
            <div class="cards-buynow-btn">
              <button type="button" class="bg-dark-gray text-white">Buy Now | $89 </button>
            </div>
          </div>
          <div class="cards-text-block mt-15">
            <div class="cards-text text-white"> Inaugural Season Wolves Hoodie </div>
            <div class="cards-buynow-btn">
              <button type="button" class="bg-white">Buy Now | $89 </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-block bg-cover grid-2cl">
      <div class="cards-xl bg-light-gray">
        <div class="cards-header-block content-center">
          <div class="cards-title-block">
            <h1 class="text-white" style="left:-102px;top:116px">MEN’S TEE</h1>
          </div>
          <div class="cards-image-block">
            <img class="mt-30" src="/content/dam/venia/sites/tee-mens1.png" />
          </div>
        </div>
        <div class="cards-content-block mt-15 no-width">
          <div class="cards-text-block mt-15">
            <div class="cards-carousel-btn mt-30">
              <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-prev-black.png" />
              <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-nxt-black.png" />
            </div>
            <div class="cards-text mt-30"> Inaugural Season Wolves Hoodie </div>
            <div class="cards-buynow-btn mt-30">
              <button type="button" class="bg-white">Buy Now | $89 </button>
            </div>
          </div>
        </div>
      </div>
      <div class="cards-xl bg-gray">
        <div class="cards-header-block content-center">
          <div class="cards-title-block">
            <h1 class="text-white twowordtext">WOMEN’S TEE</h1>
          </div>
          <div class="cards-image-block">
            <img class="mt-30" src="/content/dam/venia/sites/tee-womens1.png" />
          </div>
        </div>
        <div class="cards-content-block mt-30 no-width">
          <div class="cards-text-block mt-30">
            <div class="cards-carousel-btn mt-30">
              <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-prev-white.svg" />
              <img class="n-mt-30" src="/content/dam/venia/sites/arw-btn-nxt-white.svg" />
            </div>
            <div class="cards-text mt-30"> Inaugural Season Wolves Hoodie </div>
            <div class="cards-buynow-btn mt-30">
              <button type="button" class="bg-dark-gray text-white">Buy Now | $89 </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>