<div>
    <div data-sly-resource="${'text' @ resourceType='venia/components/text'}"></div>
    <form class="signup-form">
        <input type="email" placeholder="Your Email Address" />
        <button type="submit">
            <span>&#8594;</span>
        </button>
    </form>
</div>
<div>
    <div data-sly-resource="${'firstcolumn' @ resourceType='venia/components/multifield'}"></div>
    <div data-sly-resource="${'secondcolumn' @ resourceType='venia/components/multifield'}"></div>
    <div data-sly-resource="${'thirdcolumn' @ resourceType='venia/components/multifield'}"></div>
    <div data-sly-resource="${'fourcolumn' @ resourceType='venia/components/multifield'}"></div>
    <div data-sly-resource="${'socialMedia' @ resourceType='venia/components/multifield'}"></div>
    <div data-sly-resource="${'logo' @ resourceType='venia/components/image'}"></div>
</div>