
<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <div class="footer-column">
                <ul>
                    <li><a href="#">TEAM</a></li>
                    <li><a href="#">SCHEDULE & TICKETS</a></li>
                    <li><a href="#">FAN ZONE</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <ul>
                    <li><a href="#">FULL SEASON MEMBERSHIPS</a></li>
                    <li><a href="#">HALF SEASON MEMBERSHIPS</a></li>
                    <li><a href="#">QUARTER SEASON MEMBERSHIPS</a></li>
                    <li><a href="#">GROUP TICKETS</a></li>
                    <li><a href="#">TICKET TERMS & CONDITIONS</a></li>
                    <li><a href="#">HOW TO AVOID TICKET FRAUD</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <ul>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">EMPLOYMENT</a></li>
                    <li><a href="#">HEALTH & SAFETY</a></li>
                    <li><a href="#">THOMAS & MACK CENTER</a></li>
                    <li><a href="#">STAFF DIRECTORY</a></li>
                    <li><a href="#">EXECUTIVE TEAM</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <ul>
                    <li><a href="#">TERMS OF USE</a></li>
                    <li><a href="#">PRIVACY POLICY</a></li>
                    <li><a href="#">YOUR PRIVACY CHOICES</a></li>
                </ul>
            </div>

        </div>

        <div class="footer-icons">
            <a href="https://www.instagram.com/msan66921/"><img src="/content/dam/venia/sites/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="/content/dam/venia/sites/tik-tok.png" alt="TikTok"></a>
            <a href="#"><img src="/content/dam/venia/sites/youtube.png" alt="YouTube"></a>
        </div>
    </div>
    <div class="footer-circle"></div>
</footer>
