<div class="tour-container">
    <div class="tour-container__section">
        <div class='tour-container__section__image'>
         <!-- <img src={bgImages[0]} alt='Virtual Tour'/>  -->
        </div>
        <div class='tour-container__section__content'>
          <div class='tour-container__section__content--title'>TAKE A VIRTUAL TOUR OF WOLVES ARENA</div>
          <div class='tour-container__section__content--description'>
          Walk around the arena as you like or take a tour hosted by your own Las Vegas Wolves players, on your desktop, phone or Oculus Quest VR headset.</div>
          <div class='tour-container__section__content--btns'>
            <button class='ct-button btn-primary'>BEGIN VR TOUR </button>
            <button class='ct-button btn-secondary'>BEGIN DESKTOP OR PHONE TOUR</button>
          </div>
        </div>
    </div>
    <div class="tour-container__section">
        <div class='tour-container__section__image'>
             <!-- <img src={bgImages[1]} alt='Stadium'/> -->
        </div>
        <div class='tour-container__section__content'>
          <div class='tour-container__section__content--title'>THOMAS & MACK CENTER</div>
          <div class='tour-container__section__content--description address'>
              <div>4505 South Maryland Parkway, Las Vegas, NV 89154-0003</div>
              <div>(702) 739-FANS (3267)</div>
              <div>1-866-388-FANS (3267)</div>
              <div>customer.service@unlvtickets.com</div> 
            </div>
        </div>
    </div>
</div>