<div class="video-wrapper">
    <div class="video-wrapper__container">
        <div class="video-wrapper__heading">
            <p class="video-wrapper__las-vegas">Lasvegas</p>
            <p class="video-wrapper__wolves">WOLVES</p>
        </div>
        <div class="video-wrapper__play">
            <button class="video-wrapper__button">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.84928 2.65269C5.50602 2.45409 5.07851 2.44889 4.73017 2.63907C4.38183 2.82926 4.1665 3.18542 4.1665 3.57143V16.4286C4.1665 16.8146 4.38183 17.1707 4.73017 17.3609C5.07851 17.5511 5.50602 17.5459 5.84928 17.3473L16.9604 10.9187C17.2951 10.7251 17.4998 10.3764 17.4998 10C17.4998 9.62365 17.2951 9.27489 16.9604 9.08126L5.84928 2.65269Z" fill="white"/>
                </svg>
                <span>2:43</span>
            </button>
        </div>
        <div class="video-wrapper__description">
            <p class="video-wrapper__description-text"><span>DAWN OF</span> <br /> A NEW GAME</p>
            <p class="video-wrapper__tag-line">Welcome to a new era of basketball.</p>
        </div>
    </div>
</div>

<div class="thumbnail-wrapper">
    <div class="thumbnail-wrapper__container">
        <div class="thumbnail-wrapper__heading">
            <p class="thumbnail-wrapper__title">NEWS & UPDATES</p>
            <a href="#" class="thumbnail-wrapper__view-all">View All 
                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8H15" stroke="#28455C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10 1L17 8L10 15" stroke="#28455C" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </a>
        </div>
        <div class="thumbnail-wrapper__cards">
            <div class="thumbnail-wrapper__card">
                <img src="bg-image.png" alt="image" class="thumbnail-wrapper__card-image"/>
                <div class="thumbnail-wrapper__card-description">
                    <p class="thumbnail-wrapper__category">News</p>
                    <p class="thumbnail-wrapper__card-heading">Meet the Players Fueling the Wolves’ Inaugural Season</p>
                    <div class="thumbnail-wrapper__card-date">
                        <p>Oct 15, 2021</p>
                        <p>2mins read</p>
                    </div>
                </div>
            </div>
            <div class="thumbnail-wrapper__card">
                <img src="bg-image.png" alt="image" class="thumbnail-wrapper__card-image"/>
                <div class="thumbnail-wrapper__card-description">
                    <p class="thumbnail-wrapper__category">News</p>
                    <p class="thumbnail-wrapper__card-heading">Meet the Players Fueling the Wolves’ Inaugural Season</p>
                    <div class="thumbnail-wrapper__card-date">
                        <p>Oct 15, 2021</p>
                        <p>2mins read</p>
                    </div>
                </div>
            </div>
            <div class="thumbnail-wrapper__card">
                <img src="bg-image.png" alt="image" class="thumbnail-wrapper__card-image"/>
                <div class="thumbnail-wrapper__card-description">
                    <p class="thumbnail-wrapper__category">News</p>
                    <p class="thumbnail-wrapper__card-heading">Meet the Players Fueling the Wolves’ Inaugural Season</p>
                    <div class="thumbnail-wrapper__card-date">
                        <p>Oct 15, 2021</p>
                        <p>2mins read</p>
                    </div>
                </div>
            </div>
            <div class="thumbnail-wrapper__card">
                <img src="bg-image.png" alt="image" class="thumbnail-wrapper__card-image"/>
                <div class="thumbnail-wrapper__card-description">
                    <p class="thumbnail-wrapper__category">News</p>
                    <p class="thumbnail-wrapper__card-heading">Meet the Players Fueling the Wolves’ Inaugural Season</p>
                    <div class="thumbnail-wrapper__card-date">
                        <p>Oct 15, 2021</p>
                        <p>2mins read</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>