<div style="padding: 56px 0px 23px 23px;">
    <div style="height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
        <div style="align-self: stretch; color: #404040; font-size: 48px; font-family: Helvetica Neue; font-weight: 800; text-transform: uppercase; line-height: 48px; word-wrap: break-word">News & Updates</div>
        <div style="align-self: stretch; justify-content: center; align-items: center; gap: 20px; display: inline-flex">
            <div style="width: 240px; height: 361px; position: relative">
                <div style="width: 240px; height: 361px; left: 0px; top: 0px; position: absolute; background: white"></div>
                <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                    <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute">
                        <div style="width: 339.41px; height: 0px; left: 0px; top: 0px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; border: 1px white solid"></div>
                        <div style="width: 338px; height: 0px; left: 240px; top: 0px; position: absolute; transform: rotate(135deg); transform-origin: 0 0; border: 1px white solid"></div>
                    </div>
                </div>
                <div style="width: 200px; height: 81px; left: 20px; top: 260px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                    <div style="align-self: stretch; color: #404040; font-size: 16px; font-family: Helvetica Neue; font-weight: 500; word-wrap: break-word">Meet the Players Fueling the Wolves’ Inaugural Season</div>
                    <div style="align-self: stretch; color: #404040; font-size: 14px; font-family: Helvetica Neue; font-weight: 400; word-wrap: break-word">Dec 15, 2024</div>
                </div>
            </div>
            <div style="width: 240px; height: 361px; position: relative">
                <div style="width: 240px; height: 361px; left: 0px; top: 0px; position: absolute; background: white"></div>
                <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                    <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute">
                        <div style="width: 339.41px; height: 0px; left: 0px; top: 0px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; border: 1px white solid"></div>
                        <div style="width: 338px; height: 0px; left: 240px; top: 0px; position: absolute; transform: rotate(135deg); transform-origin: 0 0; border: 1px white solid"></div>
                    </div>
                </div>
                <div style="width: 200px; height: 81px; left: 20px; top: 260px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                    <div style="align-self: stretch; color: #404040; font-size: 16px; font-family: Helvetica Neue; font-weight: 500; word-wrap: break-word">Fans Flock to Wolves: A New Era of Basketball Begins</div>
                    <div style="align-self: stretch; color: #404040; font-size: 14px; font-family: Helvetica Neue; font-weight: 400; word-wrap: break-word">Dec 15, 2024</div>
                </div>
            </div>
            <div style="width: 240px; height: 361px; position: relative">
                <div style="width: 240px; height: 361px; left: 0px; top: 0px; position: absolute; background: white"></div>
                <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                    <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute">
                        <div style="width: 339.41px; height: 0px; left: 0px; top: 0px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; border: 1px white solid"></div>
                        <div style="width: 338px; height: 0px; left: 240px; top: 0px; position: absolute; transform: rotate(135deg); transform-origin: 0 0; border: 1px white solid"></div>
                    </div>
                </div>
                <div style="width: 200px; height: 81px; left: 20px; top: 260px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                    <div style="align-self: stretch; color: #404040; font-size: 16px; font-family: Helvetica Neue; font-weight: 500; word-wrap: break-word">New Team, New Energy: How Wolves are Winning Over the Community</div>
                    <div style="align-self: stretch; color: #404040; font-size: 14px; font-family: Helvetica Neue; font-weight: 400; word-wrap: break-word">Dec 14, 2024</div>
                </div>
            </div>
            <div style="width: 240px; height: 361px; position: relative">
                <div style="width: 240px; height: 361px; left: 0px; top: 0px; position: absolute; background: white"></div>
                <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                    <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute">
                        <div style="width: 339.41px; height: 0px; left: 0px; top: 0px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; border: 1px white solid"></div>
                        <div style="width: 338px; height: 0px; left: 240px; top: 0px; position: absolute; transform: rotate(135deg); transform-origin: 0 0; border: 1px white solid"></div>
                    </div>
                </div>
                <div style="width: 200px; height: 81px; left: 20px; top: 260px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                    <div style="align-self: stretch; color: #404040; font-size: 16px; font-family: Helvetica Neue; font-weight: 500; word-wrap: break-word">Fast Start: Wolves Shake Up the League with Early Wins</div>
                    <div style="align-self: stretch; color: #404040; font-size: 14px; font-family: Helvetica Neue; font-weight: 400; word-wrap: break-word">Dec 13, 2024</div>
                </div>
            </div>
            <div style="width: 240px; height: 361px; position: relative">
                <div style="width: 240px; height: 361px; left: 0px; top: 0px; position: absolute; background: white"></div>
                <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                    <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute">
                        <div style="width: 339.41px; height: 0px; left: 0px; top: 0px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; border: 1px white solid"></div>
                        <div style="width: 338px; height: 0px; left: 240px; top: 0px; position: absolute; transform: rotate(135deg); transform-origin: 0 0; border: 1px white solid"></div>
                    </div>
                </div>
                <div style="width: 200px; height: 61px; left: 20px; top: 260px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                    <div style="align-self: stretch; color: #404040; font-size: 16px; font-family: Helvetica Neue; font-weight: 500; word-wrap: break-word">Wolves Crush Los Angeles in Stunning 21pt Blowout</div>
                    <div style="align-self: stretch; color: #404040; font-size: 14px; font-family: Helvetica Neue; font-weight: 400; word-wrap: break-word">Dec 11, 2024</div>
                </div>
            </div>
            <div style="width: 240px; height: 361px; position: relative">
                <div style="width: 240px; height: 361px; left: 0px; top: 0px; position: absolute; background: white"></div>
                <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                    <div style="width: 240px; height: 240px; left: 0px; top: 0px; position: absolute">
                        <div style="width: 339.41px; height: 0px; left: 0px; top: 0px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; border: 1px white solid"></div>
                        <div style="width: 338px; height: 0px; left: 240px; top: 0px; position: absolute; transform: rotate(135deg); transform-origin: 0 0; border: 1px white solid"></div>
                    </div>
                </div>
                <div style="width: 200px; height: 61px; left: 20px; top: 260px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                    <div style="align-self: stretch; color: #404040; font-size: 16px; font-family: Helvetica Neue; font-weight: 500; word-wrap: break-word">Wolves’ Narrow First Loss to Brooklyn.</div>
                    <div style="align-self: stretch; color: #404040; font-size: 14px; font-family: Helvetica Neue; font-weight: 400; word-wrap: break-word">Dec 14, 2024</div>
                </div>
            </div>
        </div>
    </div>
</div>