<div class="heroBanner-container">

    <div class="heroBanner">
      <div class="heroBanner-content-wrapper">
        <div class="heroBanner-heading">
          <p><span class="white-heading">DO YOU KNOW</span></p>
          <p><span class="white-border-heading bigger-font">WOLVES?</span> </p>
          <p><span class="white-heading">IT & WIN</span> </p>
          <p><span class="white-border-heading">FREE TICKETS</span></p>
        </div>
        <div class="heroBanner-content">
          <div class="heroBanner-content-text-wrapper">
            <p class="heroBanner-content-text">We provide the clues. </p><br />
            <p class="heroBanner-content-text"> You use the clues to name three mystery players in 30 seconds or less. </p><br />
            <p class="heroBanner-content-text">Best time each week wins FREE tickets for you and three of your friends to an upcoming game!</p>
          </div>
          <button class="heroBanner-content-button">START THE GAME <img src="./images/start-icon.svg" alt="start ICon" /></button>
        </div>
      </div>

      <div class="heroBanner-levels">
        <div class="heroBanner-level">1</div>
        <div class="heroBanner-level">2</div>
        <div class="heroBanner-level">3</div>
      </div>
    </div>
  </div>