<sly data-sly-use.model="com.venia.core.models.commerce.ProductsListsModel">
    <div class="game-container--gearUp">
        <div class="gear-container">
            <div class="gear-header">
                <h1>${model.title}</h1>
                <a href="${model.link}" class="shop-all">${model.label}</a>
            </div>
            <div class="gear-grid">
                <sly data-sly-list.product="${model.productDetails}">
                    <div class="gear-item">
                        <div class="gear-image">
                            <img src="${product.productImage}" alt="product image">
                        </div>
                        <div class="gear-info">
                            <div class="gear-name">${product.productName}</div>
                            <button class="buy-button">${product.productLabel}</button>
                        </div>
                    </div>
                </sly>
            </div>
        </div>
    </div>
</sly>
