<style>
    @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

.video-wrapper {
	font-family: 'Helvetica Neue', sans-serif;
    display: inline-flex;
    height: 670px;
    padding: 56px 51.678px 56px 41px;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
}

.video-container {
    display: flex;
    gap: 52px;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.video-heading {
    transform: rotate(-90deg);
    width: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.video-heading .las-vegas {
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    margin-right: 150px;
}

.video-heading .wolves {
    text-align: center;
    -webkit-text-stroke-width: 3;
    -webkit-text-stroke-color: #FFF;
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    
}

.video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
}

.video-play button {
    display: inline-flex;
    padding: 16px;
    align-items: center;
    gap: 4px;
    border-radius: 1000px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(16.600000381469727px);
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.4px;
}

.video-description {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.video-description .description {
    color: #FFF;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    opacity: 0.8;
}

.video-description .description span {
    font-weight: 800;
}

.video-description .tag-line {
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.72px;
}
.homepage-header-component {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 10;
}


</style>
<div class="video-wrapper" style="background: url('/content/dam/venia/sites/home-page-banner.png') no-repeat; background-size: cover;">
    <div class="homepage-header-component">
        <div class="headernavigation home-header">
            <div class="header-navigation-wrapper">
                <div class="header-navigation-left">
                    <div class="multifield-wrapper">
                        <div class="multifield-image">
                            <a href="/content/venia/language-masters/en/home/home.html" target="_self">
                                <img src="/content/dam/venia/sites/logo.png">
                            </a>
                        </div>
                        <div class="multifield-text">
                            <a href="/content/venia/language-masters/en/home/team-roster.html" target="_self">TEAM</a>
                            <a href="/content/venia/language-masters/en/home/schedule-tickets.html" target="_self">SCHEDULE &amp; TICKETS</a>
                            <a href="/content/venia/language-masters/en/home/product-landing-page.html" target="_self">MERCH</a>
                            <a href="/content/venia/language-masters/en/home/campaign-landing-page.html" target="_self">WIN FREE TICKETS</a>
                        </div>
                    </div>
                </div>
                <div class="header-navigation-right">
                    <div class="multifield-wrapper">
                        <div class="multifield-image">
                            <a href="#" target="_self">
                                <img src="/content/dam/venia/sites/search-white.png">
                            </a>
                        </div>
                        <div class="multifield-image">
                            <a href="https://www.instagram.com/msan66921/" target="_self">
                                <img src="/content/dam/venia/sites/instagram-white.png">
                            </a>
                            <a href="#" target="_self">
                                <img src="/content/dam/venia/sites/tik-tok-white.png">
                            </a>
                            <a href="#" target="_self">
                                <img src="/content/dam/venia/sites/youtube-white.png">
                            </a>
                        </div>
                        <div class="multifield-image">
                            <a href="#" target="_self">
                                <img src="/content/dam/venia/sites/market-white.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="video-container">
        <div class="video-heading">
            <p class="las-vegas">Las vegas</p>
            <p class="wolves">WOLVES</p>
        </div>
        <div class="video-play">
            <button>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.84928 2.65269C5.50602 2.45409 5.07851 2.44889 4.73017 2.63907C4.38183 2.82926 4.1665 3.18542 4.1665 3.57143V16.4286C4.1665 16.8146 4.38183 17.1707 4.73017 17.3609C5.07851 17.5511 5.50602 17.5459 5.84928 17.3473L16.9604 10.9187C17.2951 10.7251 17.4998 10.3764 17.4998 10C17.4998 9.62365 17.2951 9.27489 16.9604 9.08126L5.84928 2.65269Z" fill="white"/>
                </svg>
                <span>2:43</span>
            </button>
        </div>
        <div class="video-description">
            <p class="description"><span>DAWN OF</span> <br /> A NEW GAME</p>
            <p class="tag-line">Welcome to a new era of basketball.</p>
        </div>
    </div>
</div>
