@mixin floating-banner-styles($border-color, $bg-color) {
    .banner {
        width: 100%;
        height: 3rem;
        border: 1px solid #28455C;
        background-color: #28455C;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
    }

    .scrolling-content {
        display: flex;
        animation: scroll 20s linear infinite;
    }

    .item {
        flex: 0 0 auto;
        font-family: $ct-font-inter;
        color: $ct-color-white;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        padding: 0 14px;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

.floating-banner-gray-bg {
    .floating-banner {
        @include floating-banner-styles($ct-color-gray-dark, $ct-color-gray-dark);
    }
}

.floating-banner-black-bg {
    .floating-banner {
        @include floating-banner-styles(black, black);
    }
}
