.floating-banner {
    .banner {
        width: 100%;
        height: 3rem;
        border: 1px solid black;
        background-color: black;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
    }

    .scrolling-content {
        display: flex;
        animation: scroll 15s linear infinite;
    }

    .item {
        flex: 0 0 auto;
        color: white;
        font-weight: bold;
        padding: 0 2px;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    .item {
        flex: 0 0 auto;
        width: 10%;
        color: white;
        text-align: center;
    }
}