.heroBanner-container {
    display: flex;
    padding: 36px 112px 88px 112px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background: $ct-color-gray-dark;


    .heroBanner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    .heroBanner-content-wrapper {
        display: flex;
        align-items: center;
        gap: 56px;
    }

    .heroBanner-heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .white-heading {
        font-family: "Helvetica Neue";
        font-size: 56px;
        font-style: normal;
        font-weight: 900;
        line-height: 100%;
        /* 112px */
        letter-spacing: -1.68px;
        text-transform: uppercase;
        color: $ct-color-white;
    }

    .white-border-heading {
        color: $ct-color-white;
        font-family: "Helvetica Neue";
        font-size: 56px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
        /* 56px */
        letter-spacing: -1.68px;
        text-transform: uppercase;
        -webkit-text-stroke-width: 3;
        -webkit-text-stroke-color: $ct-color-white;

    }

    .bigger-font {
        font-size: 112px;
    }

    .heroBanner-content {
        display: flex;
        width: 450px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .heroBanner-content-text-wrapper {
        color: $ct-color-white;
        font-family: "Helvetica Neue";
        font-size: 20px;
        font-style: normal;
        font-weight: 400 !important;
        line-height: 120%;
        /* 24px */
    }

    .heroBanner-content-button {
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: $ct-color-white;
        color: #404040;
        text-align: center;
        font-family: "Helvetica Neue";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 16px */
        letter-spacing: -0.48px;
    }

    .heroBanner-content-button:hover{
        background-color: #D8D8D8;
        color: #333333; 
    }

    .heroBanner-levels {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }

    .heroBanner-level {
        width: 100px;
        height: 100px;
        flex-shrink: 0;
        background-image: url('../../../../ui.apps/src/main/content/jcr_root/apps/venia/components/text/images/wolf-logo.png');
        border-radius: 15px;
        color: #FFF;
        text-align: center;
        font-family: "Helvetica Neue";
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: 100%;
        /* 36px */
        letter-spacing: -1.08px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal.hidden {
    display: none;
  }

  .modal-content {
    background: white;
    width: 500px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 700px;
    height: 466px;
    flex-shrink: 0;
  }

  .close-button {
    font-size: 24px;
    cursor: pointer;
    float: right;
  }

  .modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
  }

  .modal-header {
    transform: rotate(-90deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 124px;
  }

  .modal-header .las-vegas {
    color: #D6D6D6;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    margin-right: 60px;
  }

  .modal-header .wolves {
    -webkit-text-stroke-width: 3;
    -webkit-text-stroke-color: #D6D6D6;
    color: #D6D6D6;
    font-family: "Helvetica Neue";
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    text-transform: uppercase;
    margin-left: 80px;
  }

  .modal-body-wolf-image {
    background-size: cover;
    background-position: center;
    width: 73px;
    height: 79px;
    flex-shrink: 0;
    margin-bottom: 10px;
  }

  .modal-body {
    height: 100%;
    padding: 56px 56px 56px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

.modal-body-pack-heading {
  color: #404040;
  font-family: "Helvetica Neue";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 48px */
  letter-spacing: -1.44px;
  text-align: justify;
}

.modal-body-pack-heading-v {
  color: #A4A4A4;
  font-family: "Helvetica Neue";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 48px */
  letter-spacing: -1.44px;
  text-align: justify;
}

  .modal-body-pack-text {
    color: #404040;
    font-feature-settings: 'liga'off, 'clig'off;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    margin-top: 8px;
  }

  .user-input-wrapper {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 32px;
  }

  .input-container {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }

  .email-input {
    width: 400px;
    border-radius: 4px;
    outline: none;
    border: none;
  }

  .line {
    width: 400px;
    height: 3px;
    background: #404040;
  }

}

.heroBanner-main{
      .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
      }
    
      .modal.hidden {
        display: none;
      }
    
      .modal-content {
        background: white;
        width: 500px;
        padding: 20px;
        border-radius: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 700px;
        height: 466px;
        flex-shrink: 0;
      }
    
      .close-button {
        font-size: 24px;
        cursor: pointer;
        float: right;
      }
    
      .modal-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 20px;
      }
    
      .modal-header {
        transform: rotate(-90deg);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 124px;
      }
    
      .modal-header .las-vegas {
        color: #D6D6D6;
        text-align: center;
        font-family: "Helvetica Neue";
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -1.92px;
        text-transform: uppercase;
        margin-right: 60px;
      }
    
      .modal-header .wolves {
        -webkit-text-stroke-width: 3;
        -webkit-text-stroke-color: #D6D6D6;
        color: #D6D6D6;
        font-family: "Helvetica Neue";
        font-size: 64px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
        text-transform: uppercase;
        margin-left: 80px;
      }
    
      .modal-body-wolf-image {
        background-size: cover;
        background-position: center;
        width: 73px;
        height: 79px;
        flex-shrink: 0;
        margin-bottom: 10px;
      }
    
      .modal-body {
        height: 100%;
        padding: 56px 56px 56px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
      }
    
    .modal-body-pack-heading {
      color: #404040;
      font-family: "Helvetica Neue";
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      /* 48px */
      letter-spacing: -1.44px;
      text-align: justify;
    }
    
    .modal-body-pack-heading-v {
      color: #A4A4A4;
      font-family: "Helvetica Neue";
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      /* 48px */
      letter-spacing: -1.44px;
      text-align: justify;
    }
    
      .modal-body-pack-text {
        color: #404040;
        font-feature-settings: 'liga'off, 'clig'off;
        font-family: "Helvetica Neue";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        text-align: left;
        margin-top: 8px;
      }
    
      .user-input-wrapper {
        display: flex;
        width: 400px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin-top: 32px;
      }
    
      .input-container {
        display: flex;
        align-items: center;
        gap: 16px;
        align-self: stretch;
      }
    
      .email-input {
        width: 400px;
        border-radius: 4px;
        outline: none;
        border: none;
      }
    
      .line {
        width: 400px;
        height: 3px;
        background: #404040;
      }
}
