.products-lists-light-gray {
  .gear-container {
    display: flex;
    flex-direction: column;
    background: #e8e8e8;
  }

  .gear-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .gear-header h1 {
    font-size: 48px;
    font-weight: bold;
  }

  .shop-all {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
  }

  .gear-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .gear-item {
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 371px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
  }

  .gear-image {
    border: 3px solid #fff;
    background: rgba(255, 255, 255, 0.3);
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .gear-image img {
    max-width: 100%;
    display: block;
    display: block;
  }

  .gear-info {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    text-align: left;
    align-items: flex-end;
  }

  .gear-name {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    width: 140px;
  }

  .buy-button {
    padding: 12px 16px;
    background: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }

  .buy-button:hover {
    background: #d9d9d9;
    color: #000000;
  }
}
.products-lists-dark-gray {
  .gear-container {
    background: #404040;
  }

  .gear-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .gear-header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
  }

  .shop-all {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff !important;
  }

  .gear-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .gear-item {
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 371px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
  }

  .gear-image {
    border: 3px solid #fff;
    background: #404040;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .gear-image img {
    max-width: 100%;
    height: calc(100% - 20px);
    display: block;
    display: block;
  }

  .gear-info {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    text-align: left;
    align-items: flex-end;
  }

  .gear-name {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    width: 140px;
  }

  .buy-button {
    padding: 12px 16px;
    background: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .buy-button:hover {
    background: #d9d9d9;
    color: #000000;
  }
}
