
<div class="joinThePack-wrapper">
    <div class="joinThePack-container">
        <div class="joinThePack-left">
            <div class="joinThePack-heading">
                <p class="joinThePack-heading-1">JOIN THE PACK now!</p>
                <p class="joinThePack-heading-2">Brag Later about how you’ve been a fan from the start.</p>
            </div>
            <div class="joinThePack-description">Sign up for exclusive ticket sales, game-day discounts, priority access to games, and exclusive merch.</div>
        </div>
        <div class="joinThePack-right">
            <div class="input-container">
                <input type="email" placeholder="Your Email Address" class="email-input" />
                <img src="/content/dam/venia/sites/arrow.svg" alt="arrow" class="arrow-icon" />
            </div>
            <hr class="line" />
        </div>
    </div>
</div>



<script src="" async defer></script>